$ cat .gitignore

application/controllers/TestController.php
library/OpenContext/OCConfig.php

public/database/oc_media/**/*

public/cache/**/*
public/comp_cache/**/*
public/time_cache/**/*

public/exports/*
public/cache/*
public/comp_cache/*
public/time_cache/*
public/vocabs/*
public/data/*
public/data/**/*