/* Open Context Layout About */

/*
Content area: 1000px;
Header blue: #003B66;
Heaader grey: #666666;
*/

#main_content {
	width: 90%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 5%;
	min-width:900px;
	min-height:400px;
	display:table;
	border-collapse: collapse;
	padding-bottom:5%;
}
#bottomBuffer{
	width:100%;
	padding:3%;
}
#main_row{
	display:table-row;
	/*
	border-width: thin;
	border-style: solid;
	border-color: #D7D7D7;
	*/
}
#left_sidebar{
	display:table-cell;
	width:23%;
	min-height:400px;
	text-align:left;
}
#right_sidebar{
	display:table-cell;
	width:74%;
	padding-left:5%;
	min-height:400px;
	margin-bottom: 3%;
	text-align:left;
}
#right_sidebar h1 {
	margin-bottom: 3%;
}
#right_sidebar h2 {
	margin-top: 4%;
}
#right_sidebar h3 {
	margin-top: 2%;
}
#right_sidebar h4 {
	margin-top: 2%;
}

.gksm-custom-menu-widget {
	margin: 0;
	/* padding: 1px 0 0 0; */
	}

.gksm-custom-menu-widget ul {
	margin: 0;
	padding: 0;
	}

.gksm-custom-menu-widget li {
	font-family: 'Trajan Pro', trajan-pro, 'Palatino Linotype', 'Book Antiqua', Georgia, 'Times New Roman', serif;
	letter-spacing: 0;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;
/* 	text-transform: uppercase; */
	font-size: 16px;
	color: #600;
	list-style-type: none;
	margin: 0;
	padding: 10px 0 5px 25px;
	border-bottom: 1px solid #ccc;
	font-variant:small-caps;
	}
.gksm-custom-menu-widget strong {
	color: #333333;
	font-weight: bold;
}
h2.widgettitle {
	font-size: 24px;
/* 	text-transform: uppercase; */
	padding: 0 0 0 15px;
	border-bottom: 1px solid #ccc;
	font-variant:small-caps;
	font-family: 'Trajan Pro', trajan-pro, 'Palatino Linotype', 'Book Antiqua', Georgia, 'Times New Roman', serif;
	text-align: center;
	color: #333333;
	}


.newsroom_widget h2 {
	font-family: 'Trajan Pro', trajan-pro, 'Palatino Linotype', 'Book Antiqua', Georgia, 'Times New Roman', serif;
	letter-spacing: 0;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);
	zoom:1;
/* 	text-transform: uppercase; */
	text-align: center;
	color: #333333;
	}
.newsroom_widget h2 {
	font-size: 24px;
	margin: 75px 0 0 0;
	padding: 10px 0 0 0;
	border-top: 3px solid #ccc;
	border-bottom: 2px solid #ccc;
	}


.newsfeed_box {
	margin: 0;
	padding: 15px 0 15px 15px;
	border-bottom: 1px solid #d8d2bc;
	}

.newsfeed_box h3 {
	font-family:/*  tk-chaparral-pro, */ 'Palatino Linotype', 'Book Antiqua', Georgia, 'Times New Roman', serif;
	text-transform: none;
	font-size: 16px;
	font-style: italic;
	margin: 0;
	padding-top: 15px;
	padding-bottom: 15px;	
/* 	line-height: 17px; */
	}

.newsfeed_box h3 a, .newsfeed_box h3 a:hover {
	color: #000;
	text-decoration: none;
	}

.newsfeed_box p a, .newsfeed_box p a:hover, .newsfeed_box li a, .newsfeed_box li a:hover {
	text-decoration: none;
	font-family: 'Trajan Pro', trajan-pro, 'Palatino Linotype', 'Book Antiqua', Georgia, 'Times New Roman', serif;
	}

.newsfeed_box li{
	list-style-type: circle;
}

.newsfeed_box p {
	margin: 0;
	padding: none;
	line-height: 1.1em;
	}


#about-slides {
	margin-left: auto;
	margin-right: auto;
	width: 480px;
	min-height: 360px;
}

.slide div.item{
	height: 360px;
	border-width: thin;
	border-style: solid;
	border-color: #D7D7D7;
}
.code {
	font-family: courier;
}

ul.big-list{
	width: 80%;
	margin-right:auto;
	margin-left:auto;
}
ul.big-list li{
	margin-top:10px;
	margin-bottom:15px;
}
li.rec-item {
	padding-bottom:6px;
}
div.list_tab {
	display:table;
  	border-collapse: collapse;
	width: 100%;
}
div.list_tab_row {
	display:table-row;
}
div.list_tab_cell_icon {
	display:table-cell;
	min-width:33px;
	width:8%;
	vertical-align: top;
	padding-top:1%;
	padding-bottom:1%;
	padding-left:1%;
	padding-right:1%;
}
div.list_tab_cell_icon a img {
	border: none;
}
div.list_tab_cell {
	display:table-cell;
	min-width:33px;
	vertical-align: top;
	padding-top:1%;
	padding-bottom:1%;
	padding-left:2%;
	padding-right:2%;
}

/* About -Publishing specific styles */
#edit-status-table {
	width:80%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:2%;
}

/* About -Services specific styles */
#parameters {
	margin-bottom: 10%;
}
th.param {
	width:15%;
}
th.param-vals {
	width:25%;
}
th.param-des {
	width:60%;
}
#parameters tbody {
	font-size: 90%;
}
ul.service-examples li{
	font-style: italic;
	list-style-type: disc;
	margin-top: 4px;
	margin-bottom: 4px;
}
ol.service-examples li{
	font-style: italic;
	list-style-type: upper-alpha;
	margin-top: 4px;
	margin-bottom: 4px;
}
.service-examples a {
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
   hyphens: auto;
}

#query-representations {
	margin-bottom: 10%;
}

#item-representations {
	margin-bottom: 10%;
}

div.rec-code {
	font-family:courier;
	padding-bottom:5px;
}

/* About - publishing styles */
div.data-pub-step {
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 6%;
}
#data-prep-list{
	background-color:#F2F2F2;
	padding:3%;
}
/* About - Data management estimation form */
#estimate-form-outer {
	background-color:#F2F2F2;
	padding: 2%;
}
#estimate-form-outert h5 {
	font-variant:small-caps;
}
#estimate-comments textarea {
	width: 80%;
	margin-left: 2%;
}
div.estimate-form-part {
	border-width: thin;
	border-style: solid;
	border-color: #D7D7D7;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-bottom: 5%;
}
.estimate-form-part table {
	width:80%;
	border: none;
}
#estimate-contac td {
	border-bottom-color: #EEE;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-collapse: separate;
}
td.field-name-n {
	width:30%;
	text-align:right;
	vertical-align: center;
	padding-top: 6px;
}
td.field-name-w {
	width:70%;
	text-align:right;
	vertical-align: center;
	padding-top: 6px;
}
td.field-input {
	padding-left: 2%;
	text-align:left;
	vertical-align: center;
	padding-top: 6px;
}
#estimate-contact input.alpha {
	width:90%;
}
#estimate-db-size td {
	border-bottom-color: #EEE;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-collapse: separate;
}
#estimate-db-size input.num {
	width:20%;
	margin-top:6px;
	margin-bottom:6px;
}
#estimate-media-size {
	padding-left: 2%;
	padding-right: 2%;
}
#estimate-media-size li {
	list-style: none;
}
tr.alt-color {
	background-color:#F8F8F8;
}
td.lic-check {
	width: 5%;
	padding:2%;
}
td.lic-name {
	width: 20%;
	padding: 2%;
}
td.lic-note {
	padding: 2%;
}
#estimate-license textarea {
	width: 80%;
}
#estimate-license table {
	width: 100%;
}
#estimate-submit {
	padding:5%;
	text-align:right;
}