@charset "utf-8";
/* CSS Document */

#oc_logo {
	position:absolute;
	width:165px;
	height:87px;
	z-index:1;
	left: 10px;
	top: 5px;
}
#oc_tagline {
	position:absolute;
	width:353px;
	height:34px;
	z-index:1;
	left: 275px;
	top: 35px;
}
#oc_beta {
	position:absolute;
	width:73px;
	height:46px;
	z-index:1;
	left: 700px;
	top: 25px;
}
#oc_main_nav {
	position:absolute;
	width:780px;
	height:24px;
	z-index:10;
	left: 10px;
	top: 100px;
}
#oc_main_nav div.act_nav {
	position:relative;
	float:left;
	border-top-width: thin;
	border-right-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #D7D7D7;
	border-right-color: #D7D7D7;
	border-left-color: #D7D7D7;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	height:16px;
	background-color : #fbfbfb;
	font: 12px arial;
	font-stretch:wider;
	font-weight: 800; 	
}
#oc_main_nav div.n_act_nav {
	position:relative;
	float:left;
	border-width: thin;
	border-style: solid;
	border-color: #D7D7D7;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	height:15px;
	font: 12px arial;
	font-stretch:wider;
	font-weight: 700;
	color: #A1A1A1;
	background-image: url('/images/general/in_act_tab.jpg')
}
#oc_main_nav div.sides {
	position:relative;
	float:left;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #D7D7D7;
	height: 20px;
	width: 28px;
}
.n_act_nav a {
	text-decoration: none;
	color: #2E2E2E; 
}
.act_nav a {
	text-decoration: none; 
}