/* Open Context Layout Main */
/*
Content area: 1000px;
Header blue: #003B66;
Heaader grey: #666666;
*/

body {
    text-align: center;
}

#headerTop {
    /*
    background-color: #003B66;
    border-style:solid;
    border-width:5px;
    border-color: #003366;
    */
    color: black;
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
    min-height: 90px;
   
}
#headerTopContent{
    min-width:1000px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    width: 80%;
}
#headerTopLogoArea{
   float:left;
   margin-left:10px;
   margin-top:5px;
}
#headerTopLogoCellImage{
   display:table-cell;
   vertical-align:middle;
   border:0;
}
#headerTopLogoCellImage img {
    border:0;
}
#headerTopLogoCellText{
    padding-left: 2%;
    width: 10px;
    display:table-cell;
    vertical-align:middle;
    text-align:left;
    text-transform:uppercase;
    font-size: 1.4em;
    letter-spacing: normal;
    font-weight: normal;
    line-height: 20px;
}
#headerTopLogoCellText a {
    text-decoration: none;
    color: #003B66;
}
#headerTopLogoTagLine {
    text-align:left;
    color: #003B66;
    font-size: 1em;
    letter-spacing: normal;
    font-weight: normal;
    padding-top:2px;
}
#headerMiddleArea {
    width: 30%;
    float: left;
    padding-top:2px;
}
#headerSearchArea {
    width: 225px;
    margin-top: 45px;
    margin-right: 10px;
    float:right;
    padding-top:2px;
}
#headerSearchFormArea{
    width:100%;
    padding-top:10px;
}
#headerSearchInputArea {
    float:left;
    padding-top:4px;
}
#headerSearchInputArea input {
    padding-left:8px;
    border: solid;
    border-width: thin;
    border-radius:8px;
}
#headerSearchButtonArea {
    float:left;
    width: 40px;
}
#headerSearchSubmit {
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    border: 0;
    background-color:rgba(0,0,0,0);
    /* background: url(../images/layout/searchButtonSmall.png) no-repeat center top; */
    cursor: pointer; /* hand-shaped cursor */
}


.roundedcornr_box_482877 {
	background: url(../images/layout/roundedcornr_482877_tl.png) no-repeat top left;
}
.roundedcornr_top_482877 {
	background: url(../images/layout/roundedcornr_482877_tr.png) no-repeat top right;
}
.roundedcornr_bottom_482877 {
	background: url(../images/layout/roundedcornr_482877_bl.png) no-repeat bottom left;
}
.roundedcornr_bottom_482877 div {
	background: url(../images/layout/roundedcornr_482877_br.png) no-repeat bottom right;
}
.roundedcornr_content_482877 {
	background: url(../images/layout/roundedcornr_482877_r.png) top right repeat-y;
}

.roundedcornr_top_482877 div,.roundedcornr_top_482877,
.roundedcornr_bottom_482877 div, .roundedcornr_bottom_482877 {
	width: 100%;
	height: 15px;
	font-size: 1px;
}
.roundedcornr_content_482877, .roundedcornr_bottom_482877 {
	margin-top: -19px;
}
.roundedcornr_content_482877 { padding: 0 15px; }




#headerNav {
    min-width:1000px;
    width: 80%;
    margin-left:auto;
    margin-right:auto;
}


#footerTop{
    float: left;
    width: 100%;
    background-color: #666666;
    min-height:60px;
    padding-top: 4px;
    margin-top: 6px;
    min-width: 1000px;
}
#footer_center {
    min-width:1000px;
    width: 80%;
    margin-left:auto;
    margin-right:auto;
}
#footer_tab {
    display:table;
    border-collapse:collapse;
    width:100%;
}
#footer_row{
    display:table-row;
}
div.footer_cell {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    padding:2%;
}
#footerLower {
    float: left;
    width: 100%;
    background-color: #333333;
    text-align: right;
    color: #fff;
    padding-bottom: 4px;
    height:20px;
    min-width: 1000px;
    text-align: center;
    font-size: 75%;
}

#main{
    min-width:1000px;
    width: 80%;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    background-color: #FFFFFF;
}

.icon {
	padding-left: 30px; 
	background-repeat: no-repeat;
	background-position: left center;	
	}
.pdf {
	background-image: url(../images/layout/pdf16x16px.gif);
	font-family: 'Trajan Pro', trajan-pro, 'Palatino Linotype', 'Book Antiqua', Georgia, 'Times New Roman', serif;
	font-size: 19px;
}
.rss {
	background-image: url(../images/layout/rss16x16px.gif);
	}
div.fourOhFour {
    margin-top:5%;
    margin-bottom:5%;
    padding: 5%;
    border: thin solid #CCCCCC; 
    background-color: #F5F5DC;
    text-align:center;
}
p.big-code {
    font-family: courier;
    font-size: large;
}
div.fourOhFour-img {
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    margin-top:2%;
}