/* Open Context Layout Main */
/*
Content area: 1000px;
Header blue: #003B66;
Heaader grey: #666666;
*/
#item_top {
	width:95%;
	margin-left: auto;
	margin-right: auto;
}
#item_top_tab {
	display:table;
   border-collapse: collapse;
	width:100%;
}
#item_top_row {
	display:table-row;
}
#item_top_icon_cell {
	display:table-cell;
	vertical-align: top;
	width: 40px;
}
#item_top_name_cell {
	display:table-cell;
	vertical-align:top;
	padding-left:1%;
	padding-right:5%;
	width: 35%;
	line-height:90%;
}
#item_top_name_cell h1{
	font-size: medium;
	line-height:95%;
}
#item_top_name_cell h2{
	font-size: medium;
}
#item_top_pers_name_cell {
	display:table-cell;
	vertical-align:top;
	text-align:left;
	padding-left:1%;
	padding-right:5%;
	width: 50%;
	line-height:90%;
}
#item_top_pers_name_cell h1{
	font-size: medium;
	line-height:95%;
}
#item_top_pers_name_cell h2{
	font-size: medium;
}
#item_top_des_cell {
	display:table-cell;
	vertical-align:top;
	padding-left:1%;
	padding-right:5%;
	width: 40%;
	line-height:95%;
}
#item_top_view_cell{
	display:table-cell;
	text-align: right;
	vertical-align:top;
}

#main_description {
	width:95%;
	margin-top:10px;
	margin-left: auto;
	margin-right: auto;
}
#main_description_tab {
	display:table;
   border-collapse: collapse;
}
#main_description_row {
	display:table-row;
}
#left_des{
	display:table-cell;
	width:70%;
	min-height:400px;
}
#right_des{
	display:table-cell;
	width:28%;
	z-index:6;
	padding-left:3px;
	min-height:400px;
}
#proj-all-des {
	width:95%;
}
#abstract {
	padding: 2%;
	background-color: #F7F4E9;
	border: 1px solid #9FB6CD;
	font-family: Tahoma, Geneva, sans-serif;
	margin-bottom: 3%;
	width:95%;
}


div.list_tab {
	display:table;
   border-collapse: collapse;
}
div.list_tab_row {
	display:table-row;
}
div.list_tab_cell_icon {
	display:table-cell;
	min-width:33px;
	width:8%;
	vertical-align: middle;
	padding-top:1%;
	padding-bottom:1%;
	padding-left:1%;
	padding-right:1%;
}
div.list_tab_cell {
	display:table-cell;
	min-width:33px;
	vertical-align: middle;
	padding-top:1%;
	padding-bottom:1%;
	padding-left:2%;
	padding-right:2%;
}


#bottom_des{
	clear: both;
	width:100%;
	z-index:6;
	height:10px;
}
#preview{
	position:relative;
	width:93%;
	z-index:6;
	
	top: 10px;
	border-width: thin;
	border-style: solid;
	border-color: #D7D7D7;
	padding: 6px;
	margin-bottom: 20px;
}
#allchildren{
	width:93%;
	z-index:6;
	margin-top: 10px;
	border-width: thin;
	border-style: solid;
	border-color: #D7D7D7;
	padding: 6px;
}
div.container {
    	float: left;
	min-height: 2em;
    	display: table-cell;
	margin-left: 4px;
    	vertical-align: middle 
}
div.container_a {
    	float: left;
	min-height: 2em;
	width: 50%;
    	display: table-cell;
    	vertical-align: middle 
}
div.clear_container {
    	clear: both;
	min-height: 2em;
    	display: table-cell;
	margin-top: 4px;
    	vertical-align: middle 
}

#all_links{
	position:relative;
	width:95%;
	z-index:6;
	
	margin-top: 10px;
	border-width: thin;
	border-style: solid;
	border-color: #D7D7D7;
	padding: 6px;
}
#table-links {
	width:93%;
	margin-top: 10px;
	border-width: thin;
	border-style: solid;
	border-color: #D7D7D7;
	padding: 6px;
}
#all_people{
	width:93%;
	margin-top: 10px;
	border-width: thin;
	border-style: solid;
	border-color: #D7D7D7;
	padding: 6px;
}

#all_root{
	border: thin solid #CCCCCC;
	margin-top:4%;
	padding:2%;
}
#all_keywords{
	border: thin solid #CCCCCC;
	margin-top:4%;
	padding:2%;
}
#all_tags{
	border: thin solid #CCCCCC;
	margin-top:4%;
	padding:2%;
}
#all_media{
	border: thin solid #CCCCCC;
	margin-top:4%;
	padding:2%;
}
