 /* Open Context Layout Property Item */
#prop-item_top_name_cell {
	display:table-cell;
	text-align: left;
	vertical-align:top;
	padding-left:1%;
	padding-right:5%;
	line-height:90%;
}
#prop-item_top_des_cell {
	display:table-cell;
	vertical-align:top;
	padding-left:2%;
	padding-right:2%;
	width: 30%;
	/* line-height:95%; */
}
#prop-item_top_name_cell h1{
	font-size: medium;
	line-height:95%;
}
#prop-item_top_name_cell h2{
	font-size: medium;
}
h2.top_detail{
	font-size: medium;
	line-height:95%;
}
#prop-intro {
	padding: 2%;
}
#prop-intro-tab th{
	vertical-align: middle;
}
div.described {
	padding-top:4%;
	padding-bottom:4%;
	font-family: "Courier New", Courier, monospace;
}
div.not-described {
	font-size: 90%;
	/*font-family: "Courier New", Courier, monospace; */
}
#prop-all-des {
	width:95%;
}
#all-linked-data {
	padding:2%;
	margin-top:4%;
	margin-bottom: 4%;
}
div.linked-data {
	border-width: 1px;
	border-style: solid;
	border-color: #DDD;
}
div.linked-data h6 {
	margin:2%;
}

#prop-sum {
	margin-bottom: 3%;
}
#single-prop-stats {
	padding: 2%;
	background-color: #F7F4E9;
}

div.item-multi-obs {
	width:100%;
}
#obsTabs{
	margin-bottom: 0px;
	padding-bottom: 0px;
	width:100%;
	min-width:600px;
}
div.tab-content {
	margin-left: 0px;
	margin-right: 0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #DDD;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #DDD;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #DDD;
}
div.tab-pane {
	width: 100%;
}
.tab-pane h5 {
	margin-top: 2%;
	margin-left: 2%;
}
div.item-single-obs {
	padding:2%;
	width: 95%;
	margin-bottom: 5%;
	border-width: 1px;
	border-style: solid;
	border-color: #DDD;
}

table.barGraph {
	margin-left:auto;
	margin-right:auto;
	width: 100%;
	background-color: #fff;
}
table.barGraphMultiTab {
	margin-left:auto;
	margin-right:auto;
	width: 96%;
	background-color: #fff;
}
th.prop-vals{
	padding:2%;
	text-align:right;
	width:25%;
}
th.val-count{
	padding:2%;
	text-align:center;
	width:75%;
}
table.barGraph td{
	padding-left:2%;
	padding-right:2%;
}
td.barName{
	vertical-align: middle;
	text-align: right;
}
div.barGraphBar {
	margin-left:5px;
	margin-right:2px;
	height: 26px;
	text-align:center;
	padding-top:12px;
	background-color: #DCDCDC; 
}
#prop-contribs {
	
	border-width: thin;
	border-style: solid;
	border-color: #D7D7D7;
	padding:2%;
	margin-left:2%;
	margin-right:2%;
	margin-bottom:5%;
}