
.treeview ul { /*CSS for Simple Tree Menu*/
margin : 0 ;
padding : 0 ;
}

ul.treeview {
margin : 0.5em ;
padding : 0.5em ;
}

.treeview li { /*Style for LI elements in general (excludes an LI that contains sub lists)*/
background: white url(/images/fac_browse/tree_open.gif) no-repeat left top;
list-style-type: none;
padding-left: 22px;
margin-bottom: 3px;
}

.treeview li.submenu { /* Style for LI that contains sub lists (other ULs). */
background: white url(/images/fac_browse/tree_exp.gif) no-repeat left 1px;
cursor: hand !important;
cursor: pointer !important;
}


.treeview li.submenu ul { /*Style for ULs that are children of LIs (submenu) */
display: none; /*Hide them by default. Don't delete. */
margin-top : 0.2em ;
}

.treeview .submenu ul li { /*Style for LIs of ULs that are children of LIs (submenu) */
cursor: default;
}