/* Open Context Layout Main */
/*
Content area: 1000px;
Header blue: #003B66;
Heaader grey: #666666;
*/
#item_top {
	width:95%;
	margin-left: auto;
	margin-right: auto;
}
#item_top_tab {
	display:table;
   border-collapse: collapse;
	width:100%;
}
#item_top_row {
	display:table-row;
}
#item_top_icon_cell {
	display:table-cell;
	vertical-align: top;
	width:40px;
}
#item_top_name_cell {
	display:table-cell;
	text-align: left;
	vertical-align:top;
	padding-left:1%;
	padding-right:5%;
	
	line-height:90%;
}
#item_top_name_cell h1{
	font-size: medium;
	line-height:95%;
}
#item_top_name_cell h2{
	font-size: medium;
}
h2.top_detail{
	font-size: medium;
	line-height:95%;
}
h2.views{
	font-size: medium;
}


#item_top_des_cell {
	display:table-cell;
	vertical-align:top;
	padding-left:1%;
	padding-right:5%;
	width: 35%;
	/* line-height:95%; */
}

#citation{
	font-size: 85%;
	line-height:98%;
}
#item_context_tab {
	display:table;
   border-collapse: collapse;
	width:100%;
	margin-bottom:2%;
}
#item_context_row {
	display:table-row;
	border-bottom: 5px solid #E6E6E6;
}
#item_context_t_cell {
	display:table-cell;
	vertical-align: middle;
	text-align:left;
	width:18%;
	padding-top:2%;
	padding-bottom:0;
}
#item_context_cell {
	display:table-cell;
	vertical-align: middle;
	text-align:left;
	padding-left:1%;
	padding-top:2%;
	padding-bottom:0;
}
#main_description {
	width:95%;
	margin-left: auto;
	margin-right: auto;
	min-height: 400px;
}
#main_description_tab {
	display:table;
   border-collapse: collapse;
}
#main_description_row {
	display:table-row;
}
#left_des{
	display:table-cell;
	width:65%;
	min-height:400px;
	padding-right: 2%;
}
#right_des{
	display:table-cell;
	width:35%;
	z-index:6;
	padding-left:3px;
	min-height:400px;
}
div.list_tab {
	display:table;
  	border-collapse: collapse;
	width: 96%;
	margin-left:2%;
}
div.list_tab_row {
	display:table-row;
}
div.list_tab_cell_icon {
	display:table-cell;
	min-width:33px;
	width:8%;
	vertical-align: middle;
	padding-top:1%;
	padding-bottom:1%;
	padding-left:1%;
	padding-right:1%;
}
div.list_tab_cell_icon_duoCol {
	display:table-cell;
	min-width:33px;
	vertical-align: middle;
	text-align:center;
	padding-top:1%;
	padding-bottom:1%;
	padding-left:1%;
	padding-right:0px;
}
div.list_tab_cell {
	display:table-cell;
	min-width:33px;
	vertical-align: middle;
	padding-top:1%;
	padding-bottom:1%;
	padding-left:2%;
	padding-right:2%;
}
div.list_tab_thumb_cell {
	display:table-cell;
	min-width:100px;
	vertical-align: middle;
	text-align: center;
	padding: 2%;
}
#obsTabs{
	margin-bottom: 0px;
	padding-bottom: 0px;
	width:100%;
	min-width:600px;
}
div.tab-content {
	margin-left: 0px;
	margin-right: 0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #DDD;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #DDD;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #DDD;
}
div.tab-pane {
	width: 100%;
}
.tab-pane h5 {
	margin-top: 2%;
	margin-left: 2%;
}
table.prop-tab {
	margin-top: 2%;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 3%;
	width:96%;
}
div.item-notes {
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 3%;
}
div.item-note {
	padding:2%;
	width: 90%;
}
div.item-links div{
	font-size:95%;
	margin-bottom: 3%;
}
div.person-links div{
	font-size:100%;
}
#item-children {
	border-width: 1px;
	border-style: solid;
	border-color: #DDD;
	padding:2%;
	margin-top: 5%;
}
div.item-single-obs {
	padding:2%;
	width: 95%;
	margin-bottom: 5%;
	border-width: 1px;
	border-style: solid;
	border-color: #DDD;
}
div.item-multi-obs {
	width:100%;
}
#media-preview-des {
	/*
	border-width: 1px;
	border-style: solid;
	border-color: #DDD;
	*/
	padding:2%;
	width: 95%;
	margin-bottom: 5%;
}
#res-properties {
	
}
#document-content {
	padding: 2%;
	background-color: #FFF8DC;
	font-family: Tahoma, Geneva, sans-serif;
	margin-bottom: 3%;
}
#editorial {
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	border: 4px solid #9FB6CD;
	background-color: #F9F9F9;
	display: block;
	padding:2%;
}
#project-edit-stars {
	color: #EE7600;
	margin-right: 2%;
}
p.tinyText {
	font-size: 80%;
}
#media-links {
	border: thin solid #CCCCCC;
	margin-top:4%;
	padding:2%;
}
#item-license {
	border: thin solid #CCCCCC;
	margin-top:4%;
	padding:2%;
}
#license-icon {
	display:table-cell;
	width:95px;
	height: 35px;
	vertical-align: middle;
	padding-top:1%;
	padding-bottom:1%;
	padding-left:1%;
	padding-right:1%;
}
#license-text {
	display:table-cell;
	vertical-align: middle;
	padding-top:1%;
	padding-bottom:1%;
	padding-left:1%;
	padding-right:1%;
	font-size: 80%;
}
#license-icon img{
	border:none;
	width: 88px;
	height: 31px;
}
#image_area {
	margin-bottom:4%;
	text-align:center;
}