/* Open Context Layout Main */
/*
Content area: 1000px;
Header blue: #003B66;
Heaader grey: #666666;
*/
#item_top {
	width:90%;
	margin-left: auto;
	margin-right: auto;
}
#item_top_tab {
	display:table;
   border-collapse: collapse;
	width:100%;
}
#item_top_row {
	display:table-row;
}
#item_top_icon_cell {
	display:table-cell;
	vertical-align: top;
}
#item_top_name_cell {
	display:table-cell;
	vertical-align:top;
	padding-left:1%;
	padding-right:5%;
	width: 35%;
	line-height:90%;
}
#item_top_name_cell h1{
	font-size: medium;
	line-height:95%;
}
#item_top_name_cell h2{
	font-size: medium;
}
#item_top_des_cell {
	display:table-cell;
	vertical-align:top;
	padding-left:1%;
	padding-right:5%;
	width: 40%;
	line-height:95%;
}
#item_top_view_cell{
	display:table-cell;
	text-align: right;
	vertical-align:top;
}
#item_context_tab {
	display:table;
   border-collapse: collapse;
	width:100%;
}
#item_context_row {
	display:table-row;
}
#item_context_t_cell {
	display:table-cell;
	vertical-align: middle;
	text-align:left;
	width:18%;
	padding-top:2%;
	padding-bottom:2%;
}
#item_context_cell {
	display:table-cell;
	vertical-align: middle;
	text-align:left;
	padding-left:1%;
	padding-top:2%;
	padding-bottom:2%;
}

#main_description {
	width:90%;
	margin-top:10px;
	margin-left: auto;
	margin-right: auto;
	min-height: 400px;
}
#main_description_tab {
	display:table;
   	border-collapse: collapse;
}
#main_description_row {
	display:table-row;
}
#left_des{
	display:table-cell;
	width:70%;
	min-height:400px;
}
#right_des{
	display:table-cell;
	width:28%;
	z-index:6;
	padding-left:3px;
	min-height:400px;
}
div.list_tab {
	display:table;
   border-collapse: collapse;
}
div.list_tab_row {
	display:table-row;
}
div.list_tab_cell_icon {
	display:table-cell;
	min-width:33px;
	width:8%;
	vertical-align: middle;
	padding-top:1%;
	padding-bottom:1%;
	padding-left:1%;
	padding-right:1%;
}
div.list_tab_cell {
	display:table-cell;
	min-width:33px;
	vertical-align: middle;
	padding-top:1%;
	padding-bottom:1%;
	padding-left:2%;
	padding-right:2%;
}
#obsTabs{
	margin-bottom: 0px;
	padding-bottom: 0px;
}
div.tab-content {
	margin-left: 0px;
	margin-right: 0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #DDD;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #DDD;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #DDD;
}
div.tab-pane {
	width: 100%;
}
.tab-pane h5 {
	margin-top: 2%;
	margin-left: 2%;
}