div#timemap {
padding: 1em;
}

div#timelinecontainer{
width: 100%;
height: 300px;
}

div#timeline{
 width: 100%;
 height: 100%;
 font-size: 12px;
 background: #CCCCCC;
}

div#mapcontainer {
 width: 100%;
 height: 300px;
}

div#map {
 width: 100%;
 height: 100%;
 background: #EEEEEE;
}
